body {
  padding-left: 30px;
  padding-right: 30px;
}

.headerStyle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerLeft {
  display: flex;
  align-items: center;
}

.navList {
  display: flex;
  gap: 35px;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.Oval {
  width: 2rem;
  height: 2rem;

  /* margin: 0 0 0 41.5rem; */
  padding: 0.875rem;
  border: solid 1px #e8e8e8;
  border-radius: 50px;
}

.bookForm {
  display: flex;
  gap: 5px;
}

.active-link {
  color: #000;
}

.active {
  color: blue;
}
