@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Roboto:wght@300&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  margin: 0;
  background-color: #fafafa;
}

.headerStyle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
}

.headerLeft {
  display: flex;
  align-items: center;
}

.headerLeft h1 {
  color: #0290ff;
}

.navList {
  display: flex;
  gap: 35px;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.Oval {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  padding: 0.875rem;
  border: solid 1px #e8e8e8;
  border-radius: 50px;
  color: #0290ff;
}

.bookForm {
  display: flex;
  gap: 5px;
}

.active-link {
  color: gray;
}

.active {
  color: #121212;
}

.book-ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 40px;
  padding-inline-start: 40px;
  padding-right: 40px;
  padding-inline-end: 40px;
}

.book-li {
  display: grid;
  grid-template-columns: 40% 30% 30%;
  list-style-type: none;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  padding: 15px;
}

.book-li p {
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

.book-li h2 {
  margin-block-start: 0;
  margin-block-end: 0;
  color: #121212;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

.book-author {
  color: #4386bf;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 0.875rem;
}

.book-button-actionList {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.btn-link-book {
  padding: 0;
  border: none;
  background: none;
  color: #4386bf;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  cursor: pointer;
  font-size: 0.875rem;
}

.add-book {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  margin-bottom: 50px;
}

.add-book hr {
  border: 1px solid #e8e8e8;
}

.add-book h2 {
  color: #888;
  font-size: 1.25rem;
}

.book-form {
  display: flex;
  gap: 20px;
}

.book-form input {
  padding: 10px;
}

.input-title {
  flex: 3;
  outline: none;
  font-size: 1rem;
}

.input-author {
  flex: 1;
  outline: none;
  font-size: 1rem;
}

.submit-btn {
  flex: 1;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  cursor: pointer;
  border-radius: 3px;
  background-color: #0290ff;
  border: none;
  color: #fff;
  font-size: 1rem;
}

.categories {
  padding-left: 40px;
  padding-right: 40px;
}

.category-name {
  margin: 0 2.438rem 0 0;
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.book-panel {
  color: #e8e8e8;
}

.book-details {
  grid-column: 1;
}

.book-progress {
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-chapter {
  grid-column: 3;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Oval-2 {
  border: 5px solid #d3d3d3;
  border-radius: 50%;
  border-top: 5px solid #379cf6;
  border-right: 5px solid #379cf6;
  border-bottom: 5px solid #379cf6;
  width: 4.25rem;
  height: 4.25rem;
  transform: rotate(40deg);
}

.Percent-Complete {
  width: 4.25rem;
  height: 2.438rem;
  margin: 0.063rem 5.75rem 0 0.688rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.Completed {
  width: 5rem;
  height: 1.125rem;
  margin: 0.438rem 4.938rem 0.75rem 0.75rem;
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.Update-progress {
  width: 11.5rem;
  height: 2.063rem;
  margin: 0.75rem 0 0.563rem 3.688rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  background-color: #0290ff;
  font-family: 'Roboto', sans-serif;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.Current-Lesson {
  margin: 0.438rem 6.813rem 0.25rem 3.688rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #121212;
}

.Current-Chapter {
  margin: 0.063rem 3.625rem 0 3.688rem;
  opacity: 0.5;
  font-family: 'Roboto', sans-serif;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}
